body{text-align:center;list-style-position:inside;background-color:#ffffff;overflow-y:auto;}
#disp{margin:auto; font-size:6em;}
#about, #txt{font-size:1.5em}
a{color:#2f4f4f;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;color:#ff0000;}
a:active{text-decoration:none;color:#ff69b4;}
